body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    background-color: hsl(240, 78%, 98%);
    background-image: url('./images/bg-bottom.svg'), url('./images/bg-top.svg');
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    color: hsl(232, 13%, 33%);
}

/* Main container for everything */
.page {
    text-align: center;
}

/* Pricing text */
.pricing {
    margin-top: 50px;
    margin-bottom: 40px;
}

/* Check box margins */
.check-box {
    margin-bottom: 60px;
    line-height: 34px;
}

.period {
    margin: auto 20px;
}

/* Toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:focus+.slider {
    box-shadow: 0 0 1px  hsl(237, 63%, 64%);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Flex container for cards */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card  */
.card {
    width: 300px;
    padding: 30px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(177, 177, 177, 0.152);
}

/* Different stle for professional card */
.professional {
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.price {
    font-size: 60px;
    font-weight: 700;
}

.learn-more {
    display: block;
    height: 45px;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 5px;
    text-decoration: none;
    color: white;
    line-height: 45px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
}

.learn-more:hover {
    background: transparent;
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%);
}

/* Button for professional card */
.professional .learn-more {
    background: white;
    color: hsl(237, 63%, 64%);
    border: 1px solid transparent;
}

.professional .learn-more:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.info-box {
    margin: 25px 0;
}

.info {
    height: 50px;
    line-height: 50px;
    margin: 0;
    border-top: 1px solid rgba(184, 182, 182, 0.418);
    border-radius: 1px;
}

.professional .info {
    height: 50px;
    line-height: 50px;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.578);
    border-radius: 1px;
}

.info:last-child {
    border-bottom: 1px solid rgba(184, 182, 182, 0.418);
    border-radius: 1px;
}

.professional .info:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.578) ;
    border-radius: 1px;
}

/* Media query below for the width of 790PX  */
@media screen and (max-width: 790px) {
    .container {
        flex-direction: column;
    }

    .card {
        margin-bottom: 40px;
    }
}